// body {
//   // background-color: black;
//   // background-image: url(Images/weatherBackground.jpg);
//   // background-size: cover;
//   // background-position: center center;
// }

header h1 {
  text-align: center;
}

.boxDropdown {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.locationInput {
  width: 350px;
}

.locationDropdown {
  font-size: 20px;
  width: 350px;
  background-color: rgb(238, 231, 231);
  border-radius: 4px;
  p {
    padding-left: 10px;
    padding-bottom: 3px;
  }
  p:hover {
    background-color: rgb(212, 207, 207);
    color: rgb(0, 0, 0);
  }
  cursor: pointer;
}

.day-container {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;

  .custom-date {
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
}
